html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --real-vw: calc(100vw - (100vw - 100%));
}

body {
}

header {
    font-size: 1.3em;
    background-color: midnightblue;
    width: var(--real-vw);
    height: 80px;
    position: sticky;
    top: 0;
    padding: 0 10px;
}

header svg {
    height: 50px;
    margin: 15px 0;
    float: left;
}

header svg>g>path {
    background-color: aqua;
    color:blueviolet;
    fill: orange;
}

header h1 {
    color: orange;
    line-height: 80px;
    margin: 0;
    float: right;
}

main {
    background: url('../img/background.png') no-repeat center fixed;
    background-size: cover;
    background-position-y: 80px;
    min-height: calc(100vh - 80px);
}
main>h1 {
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
}

/*---------------------BEGIN INDEX------------------------*/
main>section#index-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main>section#index-view>div.item {
    width: calc((var(--real-vw) * .25) - 20px);
    max-width: 480px;
    margin: 0 0 20px 0;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

main>section#index-view>div.item>a {
    text-decoration: none;
    color:black; 
    display: grid;
    grid-template-columns: 85px calc(100% - (85px - 5px));
    grid-template-areas: "photo details";
}

main>section#index-view>div.item>a:hover {
    background-color: rgba(0, 238, 255, 0.4);
}

.photo {
    grid-area: photo;
}
.details {
    grid-area: details;
    align-self: center;
    margin: 0 0 0 5px;
}

.details h3 {
    margin: 5px 0;
}
.details h3 span {
    font-weight: normal;
}
.details p {
    margin: 5px 0;
}
.details p span {
    font-weight: bold;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#img9,
#img10,
#img11,
#img12,
#img13,
#img14 {
    width: 85px;
    height: 85px;
}

#img1 { background: url('../img/chat1.png') center / 90% no-repeat; }
#img2 { background: url('../img/chat2.png') center / 90% no-repeat; }
#img3 { background: url('../img/chat3.png') center / 90% no-repeat; }
#img4 { background: url('../img/chat4.png') center / 90% no-repeat; }
#img5 { background: url('../img/chat5.png') center / 90% no-repeat; }
#img6 { background: url('../img/chat6.png') center / 90% no-repeat; }
#img7 { background: url('../img/chat7.png') center / 90% no-repeat; }
#img8 { background: url('../img/chat8.png') center / 90% no-repeat; }
#img9 { background: url('../img/chat9.png') center / 90% no-repeat; }
#img10 { background: url('../img/chat10.png') center / 90% no-repeat; }
#img11 { background: url('../img/chat11.png') center / 90% no-repeat; }
#img12 { background: url('../img/chat12.png') center / 90% no-repeat; }
#img13 { background: url('../img/chat13.png') center / 90% no-repeat; }
#img14 { background: url('../img/chat14.png') center / 90% no-repeat; }


@media screen and (min-width: 800px) and (max-width: 1200px) {
    header h1 {
        font-size: 1.27em;
    }

    main>section#index-view>div.item {
        width: calc((var(--real-vw) * .33) - 10px);
    }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
    header h1 {
        font-size: 0.8em;
    }

    main>section#index-view>div.item {
        width: calc((var(--real-vw) * .5) - 10px);
    }
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.3em;
        width: 6.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main>section#index-view>div.item {
        width: calc(var(--real-vw) - 10px);
    }
}
/*----------------------END INDEX-------------------------*/

/*----------------------BEGIN FORM------------------------*/

main>section#form-view form {
    width: fit-content;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 8px 8px rgba(255,255,255,0.5);
    margin: 20px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

main>section#form-view form>fieldset {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}

main>section#form-view form>fieldset table,
main>section#form-view form>fieldset table tr {
    width: 100%;
}

main>section#form-view form>fieldset table td:first-of-type {
    width: 50%;
    text-align: right;
    vertical-align: middle;
    padding: 0 30px 0 0
}

main>section#form-view form>fieldset table td:last-of-type {
    width: 50%;
}

main>section#form-view form>fieldset>legend {
    font-weight: bold;
}

main>section#form-view form label {
    cursor: pointer;
}

main>section#form-view form input {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    width: 100%;
}

main>section#form-view form input[type="submit"] {
    width: calc(50% - 20px);
    font-size: 16px;
    background-color: rgba(255, 162, 0, 0.43);
    cursor: pointer;
}
main>section#form-view form input[type="submit"]:hover {
    background-color: rgba(255, 162, 0, 0.63);
}

main>section#form-view form div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main>section#form-view {
    width: 80vw;
    margin: 0 auto;
}

main>section#form-view a:first-of-type,
main>section#form-view a:first-of-type:visited {
    display: block;
    width: calc(50% - 20px);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color:midnightblue;
    border: 1px solid midnightblue;
    border-radius: 5px;
    padding: 10px;
    /* margin: 5px; */
    background-color: rgba(255, 255, 255, 0.4);
}

main>section#form-view a:first-of-type:active,
main>section#form-view a:first-of-type:hover {
    background-color: rgba(0, 238, 255, 0.4);
}

/*-----------------------END FORM-------------------------*/
