/*----------------------BEGIN FORM------------------------*/
main>section {
    &#form-view {
        width: 80vw;
        margin: 0 auto;

        form {
            width: fit-content;
            border: 1px solid white;
            border-radius: 8px;
            box-shadow: 0 0 8px 8px rgba(255,255,255,0.5);
            margin: 20px auto 0 auto;
            background-color: rgba(255, 255, 255, 0.6);
            padding: 10px;

            >fieldset {
                padding: 10px;
                margin: 20px 0;
                width: 100%;

                table {
                    width: 100%;

                    tr {
                        width: 100%;
                    }

                    td:first-of-type {
                        width: 50%;
                        text-align: right;
                        vertical-align: middle;
                        padding: 0 30px 0 0
                    }

                    td:last-of-type {
                        width: 50%;
                    }
                }

                >legend {
                    font-weight: bold;
                }    
            }

            label {
                cursor: pointer;
            }

            input {
                padding: 10px;
                margin: 20px 0;
                border-radius: 5px;
                width: 100%;

                &[type="submit"] {
                    width: calc(50% - 20px);
                    font-size: 16px;
                    background-color: rgba(255, 162, 0, 0.43);
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 162, 0, 0.63);
                    }
                }


            }
            
            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        a {
            &:first-of-type,
            &:first-of-type:visited {
                display: block;
                width: calc(50% - 20px);
                text-decoration: none;
                text-align: center;
                font-size: 16px;
                color:midnightblue;
                border: 1px solid midnightblue;
                border-radius: 5px;
                padding: 10px;
                /* margin: 5px; */
                background-color: rgba(255, 255, 255, 0.4);
            }

            &:first-of-type:active,
            &:first-of-type:hover {
                background-color: rgba(0, 238, 255, 0.4);
            }
        }
    }
}
/*-----------------------END FORM-------------------------*/
